/* GLOBAL FONTS */
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Darker+Grotesque|Poppins|Shadows+Into+Light&display=swap');

/*
Font reference 
font-family: 'Poppins', sans-serif;
font-family: 'Darker Grotesque', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Cutive Mono', monospace;

        /* 
        G L O B A L   S I T E  S T Y L E S
        */

body, html {
  background-color: #1c1c1c;
  scroll-behavior: smooth;
  padding-left: 0rem;
  padding-right: 0rem;
  overflow-x: hidden;
}

.container-fluid.containerAll {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar {
  color: black;
  background-color: gold;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.8rem;
  padding:5px;
}

.pad{
  margin-top: 2em;
  border-bottom: 2px #383838 solid;
  margin: auto;
  width: 60%;
  padding: 10px;
}

.img {
  width: 100%;
}

hr {
  height: 1px;
  width: 85%;
  background: #1c1c1c;
  margin-top: 40px !important; 
  margin-bottom: 40px !important; 
  /* margin: 0px 20px 20px 0;  */
}

a {
  color: #17268A !important;
}

a:hover {
  color: rgb(59, 77, 192) !important;
  text-decoration: none !important;
}

/* Home Page */

.homeTop {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
  color: black;
  background-color: gold;
}

.btn-hello {
  color: #fff !important;
  background-color: #17268A !important;
  border-color: #007bff;
  width: 100%;
}

.storyApp {
  color: #fff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #17268A;
  min-height: 80vh;
}

.storyApp p {
  text-align: center;
  font-size: 1em;
  margin: auto;
}

.storyAppButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.princess {
  font-family: 'Shadows Into Light', cursive;
  padding-bottom: 10px;
}

.homeBottom {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  color: black;
  background-color: gold;
} 

        /* H O M E  P A G E  S T O R Y  A P P */

.introh2 {
  color: gold;
}   

.carousel{
  width: 90%;
  margin: auto;
  padding: 1em;
  background:linear-gradient(45deg, orange, gold);
  border-radius: 10px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 45px !important;
  height: 45px !important;
  background: 50% center / 100% 100% no-repeat;
}

.linkSquare{
  color: white !important;
  text-decoration: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin: .3rem;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
}

.wave {
  width: 80%;
  visibility: visible !important;
  margin: auto;
}

.linkSquare.green {
  background:linear-gradient(45deg,green,lightgreen);
}

.linkSquare.yellow {
  background:linear-gradient(45deg,gold,yellow);
}

.linkSquare.pink {
  background:linear-gradient(45deg,pink,lightpink);
}

.linkSquare.blue {
  background:linear-gradient(45deg,blue,navy);
}

.linkSquare.purple {
  background:linear-gradient(45deg,purple,rgb(167, 4, 167));
}

.linkSquare.red {
  background:linear-gradient(45deg,red, maroon);
}

.linkSquare.purpledrk {
  background:linear-gradient(45deg,rgb(80, 36, 80),rgb(160, 64, 160));
}

.linkSquare.greendrk {
  background:linear-gradient(45deg,rgb(13, 92, 66),rgb(91, 187, 112));
}

.linkSquare.orange {
  background:linear-gradient(45deg, orange, gold);
}

.linkSquare.blueEnd {
  background:linear-gradient(45deg,rgb(40, 95, 128),rgb(45, 45, 119));
}

.iconStory {
  text-align: center;
}

.linkSquare .fas:hover{
  text-decoration: none;
  color: gold;
}

/*  H O B B I E S */
.donateContent {
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 2em;
  padding-bottom: 2em;
  min-height: 60vh;
}

.form-group{
  width: 80%;
  text-align: left;
  padding: 2rem;
  margin: auto;
}
        
        /*  S K I L L S  */
.particleBoard {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  background-image: url('../images/cork_back_desktop.jpg');
}    

.partH1{
  color: white;
  font-weight: bold;
  font-size: 4rem;
text-shadow: #1c1c1c 5px 2px 2px;
}

.partP{
  color: white;
  font-weight: bold;
  font-size: 3rem;
  text-shadow: #1c1c1c 2px 2px 2px;
}

.skillsContent {
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 2em;
  padding-bottom: 2em;
}

.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; } 
.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


        /* G L O B A L  F O O T E R */

.globalFooter {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  color: white;
  background-color: #1c1c1c;
}

.globalFooter .iconFooter {
  color: white !important;
  text-decoration: none !important;
}

.iconFooter:hover{
  text-decoration: none;
  color: gold !important;
}

.copyright{
  text-align: center;
  text-transform: uppercase;
  font-size: .65em;
  letter-spacing: 3px;
  padding: 10px;
  color: #383838;
  background: black;
}
.copyright a{
  color: gold !important;
}

.blck{
  padding: 2em 0;
  width: 100%;
  display: block;
}

.btn-send{
  width: 100%;
}

.btn-primary{
  background-color: #17268A !important;
  border-color: #17268A !important;
}